<plugin name='infra-file-storage' version='0.1' grailsVersion='2.1.0 &gt; *'>
  <author>Dmitry Kurinskiy</author>
  <authorEmail>name.alari@gmail.com</authorEmail>
  <title>Mirari File Storage Plugin</title>
  <description>Provides convenient methods to store files on local path in dev/test mode and on Amazon S3 on
        production.
    </description>
  <documentation>http://grails.org/plugin/mirari-infra-file</documentation>
  <type>InfraFileStorageGrailsPlugin</type>
  <resources>
    <resource>ru.mirari.infra.FileStorageService</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
    <repository name='http://repository.jboss.com/maven2/' url='http://repository.jboss.com/maven2/' />
    <repository name='http://scala-tools.org/repo-releases' url='http://scala-tools.org/repo-releases/' />
    <repository name='http://www.jets3t.org/maven2' url='http://www.jets3t.org/maven2/' />
    <repository name='http://grails.org/plugins' url='http://grails.org/plugins' />
    <repository name='http://download.java.net/maven/2/' url='http://download.java.net/maven/2/' />
  </repositories>
  <dependencies>
    <compile>
      <dependency group='org.jsoup' name='jsoup' version='latest.release' />
      <dependency group='rome' name='rome' version='latest.release' />
      <dependency group='org.codehaus.gpars' name='gpars' version='0.12' />
    </compile>
    <runtime>
      <dependency group='stax' name='stax' version='1.2.0' />
    </runtime>
  </dependencies>
  <plugins>
    <test>
      <plugin group='org.grails.plugins' name='spock' version='latest.integration' />
    </test>
    <compile>
      <plugin group='org.grails.plugins' name='hibernate' version='2.1.0' />
      <plugin group='org.grails.plugins' name='mail' version='latest.integration' />
      <plugin group='org.grails.plugins' name='mongodb' version='latest.integration' />
      <plugin group='org.grails.plugins' name='redis' version='latest.integration' />
      <plugin group='org.grails.plugins' name='fields' version='latest.integration' />
      <plugin group='org.grails.plugins' name='twitter-bootstrap' version='2.0.2.25' />
    </compile>
    <runtime>
      <plugin group='org.grails.plugins' name='zipped-resources' version='latest.integration' />
      <plugin group='org.grails.plugins' name='resources' version='1.2-RC1' />
      <plugin group='org.grails.plugins' name='yui-minify-resources' version='latest.integration' />
      <plugin group='org.grails.plugins' name='spring-security-core' version='latest.integration' />
      <plugin group='org.grails.plugins' name='jquery' version='latest.integration' />
    </runtime>
    <build>
      <plugin group='org.grails.plugins' name='tomcat' version='2.1.0' />
    </build>
  </plugins>
  <runtimePluginRequirements />
  <behavior />
</plugin>